.sora-font {
    font-family: "Sora", serif;
  }

 .bg-gradient-img {
    background-image: url('./c2-assets/vegetable-offer.png'), linear-gradient(to bottom right, #53DB3A, #FFFFFF);
    background-repeat: no-repeat;
    background-position: bottom right;
  }


  .word {
    display: inline-block;
    opacity: 0;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  
  .fade-in-out {
    animation: fadeInOut 7s ease-in-out alternate infinite;
  }
  
  .delay-0 { animation-delay: 0s; }
  .delay-500 { animation-delay: 0.5s; }
  .delay-1000 { animation-delay: 1s; }
  .delay-1500 { animation-delay: 1.5s; }
  .delay-2000 { animation-delay: 2s; }
  .delay-2500 { animation-delay: 2.5s; }
  .delay-3000 { animation-delay: 3s; }
  .delay-3500 { animation-delay: 3.5s; }
  